Construa uma nova aplicação em React que tenha 3 páginas distintas. Deverá utilizar o React Router Dom para as rotas e navegação. O arquivo de rotas deve estar em um arquivo separado, conforme foi apresentado em aula. 

    Página 1 (Cadastro): Deverá possuir 5 inputs: e-mail, senha, nome, sobrenome e data de nascimento. Deverá possuir também, um botão ao final para cadastro deste usuário. Deverá criar um usuário no Firebase Authentication utilizando o provedor E-mail/senha e o restante dos dados, gravar no Firestore, trazendo inclusive, o UID do usuário para os atributos no Firestore.  
    Página 2 (Login):  Deverá possuir 2 inputs: e-mail e senha. Deverá ter abaixo dos inputs, um botão para acessar a página Principal. Deverá fazer a validação dos valores dos campos do Login no FIrebase Authentication. Se os dados estiverem corretos, mudar para a página Principal, caso contrário, informar o usuário com uma mensagem na tela que o usuário não está cadastrado.
    Página 3 (Principal): Deverá trazer os dados do usuário como: nome, sobrenome e data de nascimento e informá-las na tela.  


Deverá fazer o build e deploy do projeto e hospedar em um ambiente nuvem em que qualquer pessoa possa acessá-lo. 